<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar cuenta</title>
</head>
<body>
    <div>
        <h3>Validar cuenta</h3>
        <br>
        <p>
            Hola <b>{{user.username}}</b>
        </p>
        <br>
        <p>
            Para completar tu registro en <b>Hospital MataSanos</b> debes acceder en el siguiente enlace 
        </p>
        <br>
        <p><a href="http://{{dominio}}{% url 'usuarios:activar' uidb64=uid token=token %}">Activar cuenta</a></p>
        <br>
        <p>Saludos</p>

    </div>
</body>
</html>